/* ======================================== 

    Event Log

*/
.eventLog {
    margin: 0 2em 2em;
}
    .eventLog__screen {
        font-size: 0.8em;
        margin-left: 1.2em;
        height: 13.9em;
        overflow: hidden;
    }
    .eventLog__space {
        height: 1.6em;
    }
    .log-number {
        color: #ddd;
    }