

/* ======================================== 

    Examples

*/
.example-intro {
    max-width: 45em;
    font-size: 1.5em;
    margin: 0 2em 2em;
    padding-top: 2em;
}
.example-intro h1,
.example-intro h2,
.example-intro h3 {
    margin-top: 0;
}
.b-example {
    width: 25em;
    min-height: 10em;
    padding: 10px 0 20px;
    
    float: left;
    position: relative;
    border-radius: 5px;
}
.example-explain {
    border-left: 1px solid #ddd;
}
.example-explain:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}
.example-description {
    margin: 1em;
    font-size: 1.3em;
}
.example-example {
    margin: 1em;
}
.example-explain {
    margin-left: 25em;
}

