/* ======================================== 

    Layout

*/

.l-wrapper {
    background: #FFF;
    margin-top: 26.7em;
}
    /*.l-docs {*/
        /*margin-top: 26.7em;*/
    /*}*/
    
    .l-docs .docs-wrapper {
        height: 100%;
    }
    
    .l-section {
        max-width: 45em;
        margin: 0 2em 3em 4em;
        font-size: 1.5em;
        padding-top: 1.8em;
    }


    .l-example-section {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 2em 0 0;
    }
        .l-example-section+.l-example-section {
            margin-top: 0;
            border-top: none;
        }
        .l-example-section:last-of-type {
            margin-bottom: 0;
        }
        .l-example-section pre {
            margin: 0;
        }
    