
/* ======================================== 

    Basic

*/
* {
    box-sizing: border-box;
}
html, body {
    /*background: #f0efef;*/
    background: #fdfdfc;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    padding-bottom: 60px;
}

h1,h2,h3,h5,h6 {
    padding: 0;
    margin: 1em 0 0.3em;
    color: #9c7962;
}
    h2 {
        font-size: 1.8em;
    }
    h3 {
        color: #333333;
    }
    h4, h5,h6 {
        color: #666666;
    }

p {
    margin-top: 0.5em;
}

.g-option {
    font-weight: bold;
}
    h3.g-option {
        margin-top: 0.2em;
    }

.g-key {
    background: white;
    border: 1px solid #ddd;
    padding: 0.1em 0.3em 0;
    white-space: nowrap;
    border-radius: 3px;
}

.g-nowrap {
    white-space: nowrap;
}

/* Lists*/
ul, dl {
    margin-bottom: 1em;
}

.g-plain-list {
    margin-bottom: 1em;
    list-style-type: none;
    padding: 0;
}

.g-plain-definition-list dt {
    font-weight: bold;
    margin: 0 0.2em 0 0;
    float: left;
}
.g-plain-definition-list dd {
    margin: 0.5em 0 0.5em 0;
    clear: right;
    color: #666;
}
    .g-plain-definition-list dd:before {
        content: "— ";
    }

    /* Nested lists */
    dd > dl {
        margin-top: 0.5em;
        margin-left: 1em;
    }

/* Links*/
a,
a:visited {
    color: #4CBB9D;
    text-decoration: none;
    border-bottom: 1px solid #C1DAD3;
}
    a:hover {
        border-color: #6CC4AB;
    }

/* Table */
table {
    margin: 1em 0 2em;
    font-size: 0.9em;
    border-radius: 2px;

    /*background: #FAF8F5;*/
    background: white;

    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}
    table thead {
        font-weight: bold;
        color: #7E6C68;
    }
    table td {
        vertical-align: top;
        padding: 0.5em 0.5em;
        border-top: 1px solid #e1e1e1;
    }
    
    /* IE */
    .ie9 table,
    .lt-ie9 table {
        border: 1px solid #dddddd;
        /*border-width: 1px 0;*/
    }
    .ie9 table thead,
    .lt-ie9 table thead {
        border-bottom: 1px solid #dddddd;
    }

/* Code */
/*code {
    display: block;
    padding: 0.5em;
    margin: 0.5em 0;
    white-space: pre;
    font-size: 0.9em;

    border: 1px solid #e1e1e1;
    border-radius: 3px;

    color: #544942;
    background: white;
    -webkit-box-shadow: 0 0 5px 0 #ddd;
    -moz-box-shadow: 0 0 5px 0 #ddd;
    box-shadow: 0 0 5px 0 #ddd;
}*/
/*pre {*/
    /*background-color: #FFF;*/
    /*white-space: nowrap;*/
    /*overflow: auto;*/
    /*max-height: 30em;*/
/*}*/

/* Button */
button {
    padding: 0.17em 0.4em 0.25em;
    font-size: 0.9em;

    border-radius: 3px;
    border: 1px solid #cccccc;

    -webkit-box-shadow: 0 1px 0 0 white;
    -moz-box-shadow: 0 1px 0 0 white;
    box-shadow: 0 1px 0 0 white;

    background: #dddddd; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGRkZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #dddddd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#dddddd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#dddddd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dddddd',GradientType=0 ); /* IE6-8 */
    }
    .ie9 button {
        filter: none;
    }

    button:active {
        color: #777;
        border-color: #bbb;

        background: #bbb; /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwJSIgc3RvcC1jb2xvcj0iI2RkZGRkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #bbbbbb 0%, #dddddd 10%, #eeeeee 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(10%,#dddddd), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #bbbbbb 0%,#dddddd 10%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #bbbbbb 0%,#dddddd 10%,#eeeeee 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #bbbbbb 0%,#dddddd 10%,#eeeeee 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #bbbbbb 0%,#dddddd 10%,#eeeeee 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bbbbbb', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */

    }
        .ie9 button:active {
            filter: none;
        }


    /* Small Circla Button*/
    .b-but-pipka {
        display: inline-block;

        margin: 0 0.3em;
        height: 22px;
        width: 22px;
        vertical-align: middle;

        cursor: pointer;
        border-radius: 100px;
        border: none;

        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
        .lt-ie9 .b-but-pipka {
            filter: none;
        }
        .b-but-pipka:hover {
            background: #F0EFEE;
        }
        .b-but-pipka:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 6px 0 6px;
            border-color: #bbc transparent transparent transparent;
        }




/* ======================================== 

    Panels

*/
.g-panel {
    /*display: table;*/
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}
    /*.g-panel .panel-head,*/
    /*.g-panel .panel-body {*/
        /*display: table-row;*/
    /*}*/
    .g-panel .panel-head {
        height: 2em;
    }
        .g-panel .panel-title {
            display: block;
            position: relative;
            padding: 0 1em;
            
            font-size: 16px;
            line-height: 2em;   

            color: #CFC4BD;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,40,0.1);
            -moz-box-shadow: 0 1px 1px rgba(0,0,40,0.1);
            box-shadow: 0 1px 1px rgba(0,0,40,0.1);
        }
        .g-panel .panel-toggle {
            float: right;
            font-size: 16px;
            height: 2em;
            position: relative;
            line-height: 1.8em;
            padding: 0;
        }


/* ======================================== 

    About

*/
.b-about .options-description {
    color: #555;
}


/* ======================================== 

    Methods

*/
/*.b-methods {*/
    /*display: none;*/
/*}*/
.b-methods h3 button {
    font-size: 1em;
    font-weight: bold;
    margin-left: -0.4em;
}

