
/* ========================================

    Basic

*/
* {
    box-sizing: border-box;
}
html, body {
    background: #fdfdfc;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    padding-bottom: 0;
}

h1,h2,h3,h5,h6 {
    padding: 0;
    margin: 0 0 0.3em;
    color: #383D37;
    line-height: 1.4;
}
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.5em;
    }

h1+p, h2+p, h3+p {
    margin-top: 0.5em;
}

/*.g-option {*/
    /*font-weight: bold;*/
/*}*/
    h3.g-option {
        margin-top: 0.2em;
    }

.g-key {
    background: white;
    border: 1px solid #ddd;
    padding: 0.1em 0.3em 0;
    white-space: nowrap;
    border-radius: 3px;
}

.g-nowrap {
    white-space: nowrap;
}

/* Lists*/
ul, dl {
    margin-bottom: 1em;
}

.g-plain-list {
    margin-bottom: 1em;
    list-style-type: none;
    padding: 0;
}

.g-plain-definition-list dt {
    font-weight: bold;
    margin: 0 0.2em 0 0;
    float: left;
}
.g-plain-definition-list dd {
    margin: 0.5em 0 0.5em 0;
    clear: right;
    color: #666;
}
    .g-plain-definition-list dd:before {
        content: "— ";
    }

    /* Nested lists */
    dd > dl {
        margin-top: 0.5em;
        margin-left: 1em;
    }

/* Links*/
a,
a:visited {
    color: #62B490;
    text-decoration: none;
    border-bottom: 1px solid #C1DAD3;
}
    a:hover {
        border-color: #6CC4AB;
    }

/* Table */
table {
    margin: 1em 0 1em;
    font-size: 0.9em;
    border-radius: 2px;
    background: white;

    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
}
    table thead {
        font-weight: bold;
        color: #7E6C68;
    }
    table td {
        vertical-align: top;
        padding: 0.5em 0.5em;
        border-top: 1px solid #e1e1e1;
    }

    /* IE */
    .ie9 table,
    .lt-ie9 table {
        border: 1px solid #dddddd;
    }
    .ie9 table thead,
    .lt-ie9 table thead {
        border-bottom: 1px solid #dddddd;
    }

/* Code */
pre {
    font-size: 14px;
}

/* Button */
button {
    padding: 0.3em 0.5em 0.4em;
    font-size: 0.9em;
    border: 1px solid #B7E7D6;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 white;
    background: white;
}
    .ie9 button {
        filter: none;
    }

    button:active {
        color: #777;
        background: #F8FDFB;
    }
    button:focus {
        outline: none;
    }
        .ie9 button:active {
            filter: none;
        }


    /* Small Circla Button*/
    .b-but-pipka {
        display: inline-block;

        margin: 0 0.3em;
        height: 22px;
        width: 22px;
        vertical-align: middle;

        cursor: pointer;
        border-radius: 100px;
        border: none;

        background: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
        .lt-ie9 .b-but-pipka {
            filter: none;
        }
        .b-but-pipka:hover {
            background: #F0EFEE;
        }
        .b-but-pipka:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 7px 6px 0 6px;
            border-color: #bbc transparent transparent transparent;
        }

/* Checkbox */
input[type=checkbox],
input[type=radio] {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font: 0/0 a;
    cursor: pointer;
}
input[type=checkbox]+label,
input[type=radio]+label {
    cursor: pointer;
}
input[type=checkbox]+label:before,
input[type=radio]+label:before {
    display: inline-block;
    content: "";
    width: 1.2em;
    height: 1.2em;
    background: #efefef;
    border-radius: 0.2em;
    margin: 0 0.3em 0 0;
    vertical-align: middle;
    box-sizing: border-box;
}
input[type=checkbox]:checked+label:before,
input[type=radio]:checked+label:before {
    background: #B7E7D6;
}
/* Radio */
input[type=radio]+label:before {
    border-radius: 2em;
}


/* For IE*/
.browsehappy {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 99999;
    font-size: 2em;
    text-align: center;
}



/* ========================================

    Panels

*/
.g-panel {
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}
    /*.g-panel .panel-head,*/
    /*.g-panel .panel-body {}*/

    .g-panel .panel-head {
        height: 2em;
    }
        .g-panel .panel-title {
            display: block;
            position: relative;
            padding: 0 1em;

            font-size: 16px;
            line-height: 2em;

            color: #CFC4BD;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,40,0.1);
            -moz-box-shadow: 0 1px 1px rgba(0,0,40,0.1);
            box-shadow: 0 1px 1px rgba(0,0,40,0.1);
        }
        .g-panel .panel-toggle {
            float: right;
            font-size: 16px;
            height: 2em;
            position: relative;
            line-height: 1.8em;
            padding: 0;
        }

/* Helpers */
.keyName {
    display: inline-block;
    background: #F7F7F7;
    padding: 0 0.3em;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    font-family: monospace;
}

/* ========================================

    About

*/
#about {
    margin-bottom: 2em;
}
.b-about .options-description {
    color: #555;
}


/* ========================================

    Methods

*/
.b-methods {
    margin: 0 3em;
}
.b-methods h2 {
    margin-bottom: 0.5em;
}
.b-methods button {
    font-size: 1.1em;
    margin: 0.5em 1em 0 0;
}


#top-anchor {
    position: absolute;
    top: 0;
    z-index: -123;
    height: 26.7em;
}
#example-list .b-example {
    padding-top: 0;
    padding-bottom: 0;
}


/* ========================================

    Sandbox

*/
#sandbox .example-example {
    margin: 0;
}
#sandbox .b-example {
    padding-top: 0;
}
#sandbox .example-explain {
    padding-bottom: 1.5em;
}
