/* ======================================== 

    Wellcome block

*/
.b-wellcome {
    padding-top: 3em;
    line-height: 1.5;
    color: #d8a888;
    text-shadow: 0 1px 0 black;
    background: #2e2e2e;
}
    .b-wellcome .wellcome-wrapper {
        padding: 4em 0 3em 0;
        max-width: 45em;
        margin: 0 auto;
    }
    .b-wellcome h1.wellcome-title {
        margin: 0 0 0.3em 0;
        font-size: 3em;
        line-height: 1em;
        font-weight: bold;
        color: #f2dfdd;
    }
    .b-wellcome p.wellcome-title {
        margin: 0 0 0.4em 0;
        font-size: 2em;
        max-width: 33em;
    }
    .b-wellcome p {
        font-size: 1.5em;
        margin: 0.5em 0;
    }
    .b-wellcome .download,
    .b-wellcome .download:visited {
        color: #B7E7DA;
        text-decoration: none;
        border: none;
        font-size: 0.9em;
    }
        .b-wellcome .download:hover {
            color: white;
        }
        .b-wellcome .download .icon-github {
            font-size: 1.3em;
        }
        .b-wellcome .download .title {
            vertical-align: baseline;
        }







